<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
        <script defer src="{{ asset('js/index.js') }}"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
